# 忽略系统文件
.DS_Store
Thumbs.db

# 忽略依赖目录
node_modules/
target/
*.class


# 忽略构建输出
dist/
build/

# 忽略日志文件
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# 忽略编辑器配置
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# 忽略临时文件
*.tmp
*.temp
.cache/

# 忽略 Java 编译文件
*.class
**/*.class
target/*